// @import  "../../static/css/generalStyle.css";
.release{
	.fb{
		width:120rpx;height:60rpx;
		line-height: 50rpx;
		text-align: center;
		background: rgba(252, 156, 84, 0.6);
		color:#fff;
		border-radius: 100rpx;
	}
}